# Name: Jolt
# Description: Helper functions for calcium imaging and intesntiy based analysis in imageJ


# Author: John Hageter
# Version: 1.0
# Date: 2024/5/13
# Requires: ImageJ 1.48k

Plugins>Jolt, "Standard Calcium Pipe", Jolt.Annotation.ca_Pipe("")
Plugins>Jolt, "Group ROIs", Jolt.Annotation.GroupROIs("")
Plugins>Jolt, "Select Multiple", Jolt.Annotation.SelectMultiple("")

Plugins>Jolt, "Bin Intensities", Jolt.Analysis.Binned_Intensity("")
Plugins>Jolt, "Relative fluor", Jolt.Analysis.RelativeFluorescence("")