# Name: Jolt
# Description: Helper functions for calcium imaging and intesntiy based analysis in imageJ


# Author: John Hageter
# Version: 1.0
# Date: 2024/5/13
# Requires: ImageJ 1.48k

Plugins>Jolt, "Standard Calcium Pipe", CalciumImaging.ca_pipe("")
Plugins>Jolt, "Group ROIs", CalciumImaging.GroupROIs("")
